
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        red: 0;
        padding: 0;
    }
    header {
        background-color: #003366;
        color: white;
        padding: 10px 20px;
        text-align: center;
    }
    nav a {
        color: white;
        padding: 10px;
        text-decoration: none;
    }
    section {
        padding: 20px;
    }
    footer {
        background-color: #003366;
        color: white;
        text-align: center;
        padding: 10px;
    }
    form {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
    }
    label {
        display: block;
        margin: 10px 0 5px;
    }
    input, select {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    